{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

{% block body %}

    <div class="container ">
        <div class="row">
            <div class="col col-sm col-md">
                <h1>Bonjour </h1>


                <h2> Vote pour ta video preferée du mois !!</h2>



                <div>{{ "now" | date('Y-m-d')}} </div>
                <br>


                <br>
                <div class="countdown">
                    <span id="days">00</span> jour
                    <span id="hours">00</span> heures
                    <span id="minutes">00</span> minutes
                </div>

                <script src="{{ asset('script.js') }}"></script>

                <br>
                <br>




                <div class="video-container">
                    {% for video in videos %}
                        <video class="video" controls>
                            <source src="{{ video.linkVideo }}" type="video/mp4">
                            Votre navigateur ne supporte pas la vidéo.
                        </video>
                        <br>
                        <button class="btn-vote" onclick="vote('{{ video.id }}')">Votez pour la vidéo {{ video.Title }}</button>
                        <p>{{ video.description }}</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


    <script>
        let voted = false;

        function vote(videoId) {
            if (!voted) {
                voted = true;
                alert('Vous avez voté pour la ' + videoId);
                // Enregistrez le vote ici, par exemple en envoyant une requête à un serveur
            } else {
                alert('Vous avez déjà voté');
            }
        }

    </script>
{% endblock %}
