<nav>
    <ul>
        <li><a href="{{ path('app_home') }}" class="home-button">Home</a></li>
        <li><a href="{{ path('app_search') }}" class="home-button">Search</a></li>
        {#        <li><a href="{{ path('app_vote_index') }}"class="home-button">Suivit des votes</a></li>#}
        {#<li><a href="{{ path('app_video_top_show') }}"class="home-button">Vidéo du mois</a></li>#}
        {#<li><a href="{{ path('app_video_top_3_show') }}"class="home-button">Top 3 de l'année</a></li>
        #}

    </ul>
</nav>